/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jul 2020, 21:13:00
    Author     : Forge-15
*/

.slideshow-container {
  position: relative;
}

.slideshow-container .content {
  position: absolute; /* Position the background text */
  bottom: 0px; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 98.9%; /* Full width */
  
  
}

.color{
    text-align: center;
   
}

.heat-printing-example{
    text-align: center;
    padding-left: 50px;
    
}

